<body [ngStyle]="{'background-image': 'url(' + backgroundImagePath + ')'}">
    <div class="login-wrap">
        <div class="login-html">


		        <i class="fa fa-vcard" 
		           style="font-size:40px">
		        </i>

		        <label class="title">
			             Rejestracja
		        </label>


		        <div class="login-form">

                  <form (ngSubmit)="onSignUp()" 
                        [formGroup] = "registerForm">

                     <div class = "scroll">

                          <div class = "group">
                                  <label for="username" 
                                         class="label">
                                         Imię
                                  </label>
                                  <input type = "text"
                                         class = "input"
                                         formControlName = "username" />
                                  <span class = "help-block" 
                                        *ngIf = "registerForm.get('username').errors && registerForm.get('username').touched" 
                                        style = "color:red;">
                                        Proszę wpisać imię
                                  </span>
                                  <span class = "help-block" 
                                        *ngIf = "registerForm.get('username').touched && registerForm.get('username').value.toLowerCase() === 'kadrowy' " 
                                        style = "color:red;" >
                                        Nie możesz nazywać się " Kadrowy "
                                  </span>
                          </div>

                          <div class = "group">
                                  <label for="userSurname" 
                                         class="label">
                                         Nazwisko
                                  </label>
                                  <input type = "text"
                                         class = "input"
                                         formControlName = "userSurname" />
                                  <span class = "help-block" 
                                        *ngIf = "registerForm.get('userSurname').errors && registerForm.get('userSurname').touched" 
                                        style = "color:red;">
                                        Proszę wpisać nazwisko
                                  </span>
                          </div>

                          <div class = "group">
                                  <label for="password" 
                                         class="label">
                                         Hasło
                                  </label>
                                  <input type = "password"
                                         class = "input"
                                         formControlName = "password" />
                                  <span class = "help-block" 
                                        *ngIf = "registerForm.get('password').hasError('required') && registerForm.get('password').touched" 
                                        style = "color:red;" >
                                        Proszę podać hasło
                                  </span>
                                  <span class = "help-block" 
                                        *ngIf = "registerForm.get('password').hasError('minlength') && registerForm.get('password').touched" 
                                        style = "color:red;" >
                                        Hasło musi zawierać co najmniej 8 znaków
                                  </span>
                                  <span class = "help-block" 
                                        *ngIf = "registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched" 
                                        style = "color:red;" >
                                        Hasło nie może przekraczać 16 znaków
                                  </span>
                          </div>

                          <div class = "group">
                                  <label for="passrep" 
                                         class="label">
                                         Wpisz ponownie hasło
                                  </label>
                                  <input type = "password"
                                         class = "input"
                                         formControlName = "confirmPassword" />
                                  <span class = "help-block" 
                                        *ngIf = "registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched" 
                                        style = "color:red;" >
                                        Wpisz ponownie hasło
                                  </span>
                                  <span class = "help-block" 
                                        *ngIf = "registerForm.get('confirmPassword').touched && registerForm.hasError('mismatch')" 
                                        style = "color:red;" >
                                        Hasło musi się zgadzać z tym podanym wcześniej
                                  </span>
                          </div>

                          <div class="group">
                                  <label class="control-label" 
                                         style="margin-right:10px" >
                                         Płeć 
                                  </label>
                                  <label class="radio-inline">
                                  <input class="mr-3" 
                                         type="radio" 
                                         value="Mezczyzna" 
                                         formControlName="gender" >
                                         Mężczyzna
                                  </label>
                                  <label class="radio-inline" >
                                  <input class="mr-3" 
                                         type="radio" 
                                         value="Kobieta" 
                                         formControlName="gender" >
                                         Kobieta
                                  </label>
                          </div>

                          <div class="group text-center">
                                   <label class="control-label" 
                                          style="margin-right:10px" >
                                          Stanowisko 
                                   </label>
                                   <label class="radio">
                                   <input class="mr-3" 
                                          type="radio" 
                                          value="tester" 
                                          formControlName="position" >
                                          Tester
                                   </label>
                                   <label class="radio" >
                                   <input class="mr-3" 
                                          type="radio" 
                                          value="programista" 
                                          formControlName="position" >
                                          Programista
                                   </label>
                                   <label class="radio" >
                                   <input class="mr-3" 
                                          type="radio" 
                                          value="stazysta" 
                                          formControlName="position" >
                                          Stażysta
                                   </label>
                                   <label class="radio" >
                                   <input class="mr-3" 
                                          type="radio" 
                                          value="informatyk" 
                                          formControlName="position" >
                                          Informatyk
                                   </label>
                                   <label class="radio" >
                                   <input class="mr-3" 
                                          type="radio" 
                                          value="mlodszy programista" 
                                          formControlName="position" >
                                          Młodszy programista
                                   </label>
                                   <label class="radio" >
                                   <input class="mr-3" 
                                          type="radio" 
                                          value="kierownik projektow" 
                                          formControlName="position" >
                                          Kierownik projektów
                                   </label>
                          </div>

                          <div class="group">
                                  <input class="input"
                                         placeholder="Miasto" 
                                         formControlName="city" >
                                  <span class = "help-block" 
                                        *ngIf = "registerForm.get('city').touched && registerForm.get('city').hasError('required') || registerForm.get('city').errors && registerForm.get('city').touched" 
                                        style = "color:red;" >
                                        Podanie miejscowości jest wymagane
                                  </span>                         
                          </div>

                          <div class="group">
                                  <input class="input"
                                         placeholder="Państwo" 
                                         formControlName="country" >
                                  <span class = "help-block" 
                                        *ngIf = "registerForm.get('country').touched && registerForm.get('country').hasError('required') || registerForm.get('country').errors && registerForm.get('country').touched" 
                                        style = "color:red;" >
                                        Podanie państwa jest wymagane
                                  </span>
                          </div>

                          <div class="group">
                                  <input class = "input"
                                         placeholder = "Data urodzin" 
                                         formControlName = "dateOfBirth" 
                                         type = "text"
                                         bsDatepicker
                                         [bsConfig] = "bsConfig" >
                                  <span class = "help-block" 
                                        *ngIf = "registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required') || registerForm.get('dateOfBirth').errors && registerForm.get('dateOfBirth').touched" 
                                        style = "color:red;" >
                                        Data urodzin jest wymagana
                                  </span>
                          </div>
                    
                          <div class="group">
                              <input type="submit" 
                                     class="button" 
                                     value="Zarejestruj się" 
                                     [disabled]="!registerForm.valid">
                          </div>

                     </div>
                     
                  </form>

        
		        </div>


        </div>
   
    </div>
</body>
