/*----------------------
	   #Image
----------------------*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/*----------------------
	   #Panel
----------------------*/
.panel-body {
    padding: 5px;
}

/*  Panel Img  */
.panel-body img {
    width: 100%;
}

.panel-image {
    overflow: hidden;
    position: relative;
}

/*  Panel Image Animation  */
img {
    transform: scale(1, 1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.panel:hover img {
    transform: scale(1.2, 1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.7;
}

/*  Panel Image Buttons  */
.member-icons {
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
}

.panel:hover .member-icons {
    bottom: 0;
    opacity: 1;
}

/*  Panel Image Buttons Animate  */
.animate {
    transition: all 0.3s ease-in-out;
}

/*  Panel Image Buttons Responsive  */
@media (max-width: 768px) {
    .btn {
        padding: 2px 4px;
        font-size: 80%;
        line-height: 1;
    }
}
