<nav class="navbar navbar-inverse" 
     role="banner">
    <div class="container">

        <div class="row">
        

            <a class="navbar-brand" 
               href="">
                    <img src="assets\images\partners\partner1.png">
            </a>


            <div class="col-lg-28 col-md-28 col-sm-8 col-xm-6">
                <div class="navbar-collapse">
                    <ul class="navbar-nav">

                        <li routerLinkActive="active">
                            <a routerLink="/">
                               Strona główna
                               <i class="fa fa-globe" 
                                  style="font-size:24px;padding-left:5px;">
                               </i>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="/somewhere">
                               O nas
                               <i class="fa fa-user-circle" 
                                  style="font-size:24px;padding-left:5px;">
                               </i>
                            </a>
                        </li>
                        <li routerLinkActive="active"
                            *ngIf="!(chechIfSomeUserIsLoggedInViaToken())">                                                    
                            <a routerLink="/logowanie">
                               Zaloguj się
                               <i class="fa fa-user" 
                                  style="font-size:24px;padding-left:5px;">
                               </i>
                            </a>
                        </li> 
                        <li routerLinkActive="active"
                            *ngIf="!(chechIfSomeUserIsLoggedInViaToken())">                                                    
                            <a routerLink="/rejestracja">
                               Rejestracja
                               <i class="fa fa-user-plus" 
                                  style="font-size:24px;padding-left:5px;">
                               </i>
                            </a>
                        </li>
                        <li routerLinkActive="active"
                            *ngIf="(chechIfSomeUserIsLoggedInViaToken())">                                                    
                            <a style="cursor: pointer;"
                               (click)="logout()">
                               Wylogowanie
                               <i class="fa fa-external-link" 
                                  style="font-size:24px;padding-left:5px;">
                               </i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>


        </div>

    </div>
</nav>
