<section id="services"
         [ngStyle]="{'background-image': 'url(' + bgHomePageMeetingRoomDarker + ')'}">
    <div class="container">
         <div class="center">
             <h2>
                  Witaj w naszej aplikacji
             </h2>
             <p class="lead">
                  Miło, że po raz kolejny będziesz korzystać z naszego systemu. 
                    <br> 
                  Codziennie staramy się, aby aplikacja działała sprawnie.
             </p>
         </div>

         <div class="row">


             <div class="col-sm-6 col-md-4">
                 <div class="services-wrap">
                     <div class="pull-left">
                         <img class="img-responsive" 
                              src="assets/images/services/services1.png">
                     </div>
                     <div>
                         <h3>
                             Osiągi
                         </h3>
                         <p>
                             Nie trać czasu na czekanie podczas składania wniosków
                         </p>
                     </div>
                 </div>
             </div>

             <div class="col-sm-6 col-md-4">
                 <div class="services-wrap">
                     <div class="pull-left">
                         <img class="img-responsive" 
                              src="assets/images/services/services2.png">
                     </div>
                     <div>
                         <h3>
                             Szybkość działania
                         </h3>
                         <p>
                             Sprawdź, jaką wydajność oferuje nasza aplikacja
                         </p>
                     </div>
                 </div>
             </div>

             <div class="col-sm-6 col-md-4">
                 <div class="services-wrap">
                     <div class="pull-left">
                         <img class="img-responsive" 
                              src="assets/images/services/services3.png">
                     </div>
                     <div>
                         <h3>
                             Dział techniczny
                         </h3>
                         <p>
                             Staramy się, aby aplikacja działała całą dobę bez przeszkód
                         </p>
                     </div>
                 </div>
             </div>  

             <div class="col-sm-6 col-md-4">
                 <div class="services-wrap">
                     <div class="pull-left">
                         <img class="img-responsive" 
                              src="assets/images/services/services4.png">
                     </div>
                     <div>
                         <h3>
                             Dziel się pomysłami
                         </h3>
                         <p>
                             Rozmawiaj z innymi, dziel się pomysłami na bierząco
                         </p>
                     </div>
                 </div>
             </div>

             <div class="col-sm-6 col-md-4">
                 <div class="services-wrap">
                     <div class="pull-left">
                         <img class="img-responsive" 
                              src="assets/images/services/services5.png">
                     </div>
                     <div>
                         <h3>
                             Responsywność
                         </h3>
                         <p>
                             Zobacz, jak prezentuje się aplikacja na np. tablecie
                         </p>
                     </div>
                 </div>
             </div>

             <div class="col-sm-6 col-md-4">
                 <div class="services-wrap">
                     <div class="pull-left">
                         <img class="img-responsive" 
                              src="assets/images/services/services6.png">
                     </div>
                     <div>
                         <h3>
                             Pomoc techniczna
                         </h3>
                         <p>
                             W razie jakichkolwiek pytań skontaktuj się z nami
                         </p>
                     </div>
                 </div>
             </div>    


         </div>
     </div>
 </section>
