<section id="main-contact-info">
    <div class="container">
        <div class="row">


            <div class="col-lg-10 col-md-10 col-sm-8 col-xm-8">
                  <div class="contact-info">                          
                              <h2>
                                  W razie jakichkolwiek pytań zapraszamy do kontaktu z nami
                              </h2>
                              <p>
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua. 
                                  Ut enim ad minim veniam, quis nostrud exercitation +0123 456 70 80
                              </p>                  
                  </div> 
            </div>

            <p>
                <img src="assets\images\Phone.png">
            </p>
            <p>
                <img src="assets\images\contact.png">
            </p>


        </div>
    </div>
</section>
