<footer id="footer">
      <div class="container">
            <div class="row">


                <div class="col-sm-6 col-xm-6">
                    <ul class="pull-left">
                    &copy; 2018 Copyright. All Rights Reserved         
                    <a target="_blank" 
                       href="" 
                       title="" 
                       style="text-decoration: none">
                       by SomeOne
                    </a>
                    </ul>
                </div>


            </div>
      </div>
</footer>
