<body [ngStyle]="{'background-image': 'url(' + bgWorkerDetail + ')'}">

        <div class = "text-center">
       
            <div class = "info-block center">
                    <div class = "image center">
                            <img src="{{'../../../assets/user.png'}}"
                                 alt=""
                                 class="center">
                    </div>
                    <div class = "info-block-element">
                            <i class="fa fa-drivers-license-o"
                               (click) = "onClickName()">
                               Imie
                            </i>
                            <i class="fa fa-vcard"
                               (click) = "onClickSurname()">
                               Nazwisko
                            </i>
                            <i class="fa fa-child"
                               (click) = "onClickDateOfBirth()">
                               Data urodzenia
                            </i>
                            <i class="fa fa-building"
                               (click) = "onClickCity()">
                               Miejscowość
                            </i>
                            <i class="fa fa-map"
                               (click) = "onClickCountry()">
                               Państwo
                            </i>
                            <i class="fa fa-venus-mars"
                               (click) = "onClickGender()">
                               Płeć
                            </i>
                            <i class="fa fa-lightbulb-o"
                               (click) = "onClickInterests()">
                               Zainteresowania
                            </i>
                            <i class="fa fa-street-view"
                               (click) = "onClickIntroduction()">
                               Opis
                            </i>
                    </div>
                    <p *ngIf = "(chooseInfo == 'name')">
                           name
                    </p>
                    <p *ngIf = "(chooseInfo == 'gender')">
                           gender
                           xmskxmsklxmskxmsklxsmxklsmxklmxkl
                    </p>
                    <p *ngIf = "(chooseInfo == 'city')">
                           city
                           xmskxmsklxmskxmsklxsmxklsmxklmxkl
                    </p>
                    <p *ngIf = "(chooseInfo == 'country')">
                           country
                           xmskxmsklxmskxmsklxsmxklsmxklmxkl
                           ospksopxksoxksopxkspoksopxsoxksks
                           sxksoxkspoxkspoxksxposkx
                           skxposxkospx
                           skpsoxkxsopkxspoksxopksxpsxokp
                    </p>
                    <p *ngIf = "(chooseInfo == 'interests')">
                           interests
                           xmskxmsklxmskxmsklxsmxklsmxklmxkl
                           ospksopxksoxksopxkspoksopxsoxksks
                           sxksoxkspoxkspoxksxposkx
                           skxposxkospx
                           skpsoxkxsopkxspoksxopksxpsxokp
                    </p>
                    <p *ngIf = "(chooseInfo == 'introduction')">
                           introduction
                           xmskxmsklxmskxmsklxsmxklsmxklmxkl
                    </p>
                    <p *ngIf = "(chooseInfo == 'surname')">
                           surname
                           xmskxmsklxmskxmsklxsmxklsmxklmxkl
                    </p>
                    <p *ngIf = "(chooseInfo == 'dateOfBirth')">
                           dateOfBirth
                           xmskxmsklxmskxmsklxsmxklsmxklmxkl
                    </p>
            </div>

        </div>

</body>
