/* Settings for all HTML page */
body {
    margin:0;
    color:black;
	background: no-repeat center;
	font:600 16px/18px 'Open Sans',sans-serif;
	min-height: 1000px;
}


/*----------------------
	   #Image
----------------------*/
img {
	max-height: 350px;
	max-width: 350px;
}

/* User photo only inside of box */
.image {
    overflow: hidden;
	position: relative;
	max-height: 350px;
	max-width: 350px;
}

/* User photo in center of page */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


/*----------------------
	   #Info blocks
----------------------*/
/* Close all detail info elements about the user */
.info-block {
	margin-top: 0;
	height: 1000px;
	width: 650px;
	background-color: rgba(13, 112, 130, 0.7);
}

/* choosable info menu */
.info-block-element {
	margin-left: 0;
	height: 720px;
	width: 300px;
	background-color: rgba(9, 19, 104, 0.7);
}

/* choosable links */
i {
	font-size:30px;
	margin-top: 25px;
	width: 100%;
	cursor: pointer;
}

/* choosable links on hover by cursor */
i:hover {
    color: #f1f1f1;
    background-color: rgba(9, 81, 196, 0.5); 
}

/* Detailed data about the user */
p {
	max-width: 50%;
	margin: 0 50%;
	margin-top: -110%;
}


/*----------------------
	   #Responsive
----------------------*/
.col-lg-12 {
	padding-left: 0;
	padding-right: 0;
}

.row, .container {
	width: 100%;
	margin-right: 0;
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
}

@media (max-width: 667px) {
	i {
		font-size: 25px;
	}
	p {
		font-size: 15px;
		margin-top: -118%;
	}
	.info-block {
		width: 605px;
	}
}

@media (max-width: 622px) {
	.info-block {
		width: 500px;
	}
	p {
		margin-top: -143%;
		margin-left: 40%;
	}
	.info-block-element {
		width: 197px;
	}
}

@media (max-width: 517px) {
	.info-block {
		width: 320px;
	}
	p {
		margin-top: -248%;
		margin-left: 70%;
		font-size: 16px;
		text-orientation: mixed;
		writing-mode: vertical-rl;
		max-height: 796px;
		-webkit-transform: rotate(-180deg);
	}
	.info-block-element {
		width: 150px;
		height: 796px;
	}
	i {
		font-size: 19px;
	}
}

@media (max-width: 337px) {
	.info-block {
		width: 260px;
	}
	p {
		margin-top: -320%;
		margin-left: 64%;
		font-size: 14px;
		text-orientation: mixed;
		writing-mode: vertical-rl;
		max-height: 834px;
		-webkit-transform: rotate(-180deg);
	}
	.info-block-element {
		width: 118px;
		height: 834px;
	}
	i {
		font-size: 15px;
	}
}
