/*----------------------
	#Main Div's classes
----------------------*/
body {
    margin:0;
    color:black;
	background: no-repeat center;
	font:600 16px/18px 'Open Sans',sans-serif;
	min-height: 1000px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.info-block {
	margin-top: 0;
	height: 1000px;
	width: 650px;
	background-color: rgba(13, 112, 130, 0.7);
}


/*----------------------
     #PhotoUploader
----------------------*/
/* Drag'n'Drop zone */
.PhotoUploader {
	margin-top: 2%;
	margin-left: 8%;
}

/* Settings for Drag'n'Drop zone when file is above */
.my-drop-zone {
    height: 200px;
    width: 450px;
    text-align: center;
}

.nv-file-over {
    border: dotted 3px red;
}

input[type = file] {
    color: transparent;
}

.queueZoneAfterChoosePhotos {

}

th {
	text-align: center;
}


/*----------------------
		#Responsive
----------------------*/
@media screen and (max-width: 667px) {
    .info-block {
          width: 450px;
    }
    body {
          font: 10px;
    }
    .my-drop-zone {
          width: 330px;
    }
}

@media screen and (max-width: 467px) {
    .info-block {
          width: 300px;
    }
    body {
          font: 10px;
    }
    .my-drop-zone {
          width: 230px;
    }
}

@media screen and (max-width: 317px) {
    .info-block {
          width: 250px;
    }
    body {
          font: 10px;
    }
    .my-drop-zone {
          width: 200px;
    }
}
