<p>
    Bootstrap Buttons: 
</p>
<button type="button"
        class="btn">
        Basic
</button>
    
<button type="button" 
        class="btn btn-default">
        Default
</button>

<button type="button" 
        class="btn btn-primary">
        Primary
</button>

<button type="button" 
        class="btn btn-success">
        Success
</button>

<p>
    Font-awesome icons: 
</p>
<i class="fa fa-car" 
   style="font-size:24px;">
</i>

<i class="fa fa-address-book-o" 
   style="font-size:24px;">
</i>

<i class="fa fa-bicycle" 
   style="font-size:24px;">
</i>

<p>
    Ngx-bootstrap Datepicker: 
</p>
<div class="row">
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text"
           placeholder="Datepicker"
           class="form-control"
           bsDatepicker>
  </div>
</div>
