<body [ngStyle]="{'background-image': 'url(' + backgroundImagePath + ')'}">
    <div class="login-wrap">
        <div class="login-html">


		        <i class="fa fa-user-o" 
		           style="font-size:55px">
		        </i>

		        <label class="title">
			             Logowanie
		        </label>


		        <div class="login-form">

                  <form (ngSubmit)="onSignIn(f)" 
                        #f="ngForm">
                          <div class="group">
                              <label for="username" 
                                     class="label">
                                     Login
                              </label>
                              <input id="username" 
                                     name="username" 
                                     ngModel 
                                     required 
                                     username 
                                     type="username" 
                                     class="input" 
                                     #username="ngModel">
                              <span class="help-block" 
                                    *ngIf="!username.valid && username.touched" 
                                    style="color:red;">
                                    Wprowadź poprawny login !
                              </span>
                          </div>
                          <div class="group">
                              <label for="pass" 
                                     class="label">
                                     Hasło
                              </label>
                              <input id="pass" 
                                     name="pass" 
                                     ngModel 
                                     required 
                                     type="password" 
                                     class="input" 
                                     data-type="password" 
                                     #pass="ngModel">
                              <span class="help-block" 
                                    *ngIf="!pass.valid && pass.touched" 
                                    style="color:red;">
                                    Wprowadź poprawne hasło !
                              </span>
                          </div>
                          <div class="group">
                              <input type="submit" 
                                     class="button" 
                                     value="Zaloguj się" 
                                     [disabled]="!f.valid">
                          </div>
                  </form>
                  <div class="hr">

                  </div>
        
		        </div>


        </div>
  
	<img src="assets/images/partners/partner1.png" 
		 align="left" 
		 style="position:absolute; top:90%; left:5%;">
	<img src="assets/images/partners/partner4.png" 
		 align="right" 
         style="position:absolute; top:92%; right:5%;">
      
    </div>
</body>
