<header id="header">
    <div class="top-bar"> 
        <div class="container">

            
            <div class="row">
                <div class="col-sm-6 col-xm-4">
                    <div class="top-number">
                        <p>
                            <img src="assets\images\tel.png">
                                 +0123 456 70 90
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-xm-8">
                    <div class="social">
                            <ul class="social-share">
                                <li>
                                    <a href="https://pl-pl.facebook.com/">
                                        <img src="assets\images\facebook.png" 
                                             class="fa fa-facebook">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/?lang=pl">
                                        <img src="assets\images\twitter.png" 
                                             class="fa fa-twitter">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://pl.linkedin.com/">
                                        <img src="assets\images\linkedin.png" 
                                             class="fa fa-linkedin">
                                    </a>
                                </li> 
                                <li>
                                    <a href="https://www.instagram.com/">
                                        <img src="assets\images\instagram.png" 
                                             class="fa fa-dribbble">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.skype.com/pl/new/">
                                        <img src="assets\images\skype.png" 
                                             class="fa fa-skype">
                                    </a>
                                </li>
                            </ul>
                    </div>
                </div>
                    <span class="help-block" 
                          style="color:green;font-size:25px;margin-left:50%;"
                          *ngIf="(chechIfSomeUserIsLoggedInViaToken())">
                          {{authService.decodedToken.unique_name}} - WITAJ
                    </span>
            </div>


        </div>
    </div>
</header>
