/*----------------------
		#Div class which close all HTML doc
----------------------*/
.top-bar {
    padding: 8px 0;
    background: #0f0f11;
    border-bottom: 1px solid rgb(19, 19, 22);
    line-height: 28px;
}
  

/*----------------------
		#Phone number top left
----------------------*/
.top-number{
    color: #fff;
}
  
.top-number p{
    margin: 0
}
  

/*----------------------
		#Social links right top
----------------------*/
.social{
    text-align: right;
}
  
/*  ul - all social links -  */
.social-share{
   display: inline-block;
   list-style: none;
   padding: 0;
   margin: 0;
}
  
ul.social-share li {
    display: inline-block;
}
  
/*  image link  */
ul.social-share li a {
    display: inline-block;
    color: #fff;
    background: #404040;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 2px;
}
  
/*  change color on image link hover  */
ul.social-share li a:hover {
    background: #c52d2f;
    color: #fff;
}
