<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Autoryzacja - Logowanie</title>
</head>

<body>
<form id="start-form" 
      method="post">
          <div class="centre">

          </div>


          <div class="welcome-page">
                  <img src="assets/images/partners/partner31.jpg" 
                       align="left" 
                       style="position:absolute; margin-top:2%; left:5%;">
                  <img src="assets/images/partners/partner32.jpg" 
                       align="left" 
                       style="position:absolute; margin-top:2%; right:5%;">
                  <span class="help-block">
                        Zostałeś poprawnie zalogowany
                  </span>

                  <input type="button" 
                         name="next" 
                         class="action-button" 
                         value="POWRÓT" 
                         (click)="onBackToHomePage()"/>
          </div>


</form>
</body>
</html>    
